.App {
  overflow: hidden;
}
.container {
  text-align: center;
}
.lists-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 40px;
  gap: 20px;
  position: relative;
}
.list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background-color: #eef6fd;
  padding: 10px 0;
  height: 75vh;
  max-height: 75vh;
  width: 350px;
  position: relative;
}
ul {
  list-style-type: none;
  border-radius: 10px;
  margin: 0;
  padding: 10px;
  gap: 10px;
}
li {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
li h2 {
  margin-bottom: 4px;
}

li p {
  margin-top: 0;
}
.createNew-list-button {
  background-color: #3881f9;
  border: 1px solid #cedef7;
  color: white;
  border-radius: 5px;
  padding: 8px;
  outline: none;
  margin: 10px;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
}
.buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

label {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid #3881f9;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
}
.failedView-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
img {
  width: 40%;
  height: 40%;
}
.err-msg {
  color: #736e6e;
  padding: 0;
  margin: 10px 0;
}
.toast {
  margin-right: 10px;
  position: fixed;
  top: 20px;
  right: 0;
  background-color: #fff;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 5px;
  min-width: 100px;
  max-width: 400px;
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.5s ease-out forwards;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #eef6fd;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  z-index: 1;
}
.cancel-button {
  background-color: #ffffff;
  border: 1px solid #475569;
  color: #475569;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}
.update-button {
  background-color: #3881f9;
  border: 1px solid #3881f9;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}
.arrow-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}
.new-list-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.material-symbols-outlined {
  background-color: transparent;
  outline: none;
  border: none;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
